<div class="p-3 mb-2 bg-secondary text-white">LISTA DE CATEGORIAS</div>


<div class="row justify-content-center align-items-center mt-4">
  <p-growl [(value)]="msgs"></p-growl>
  <p-confirmDialog></p-confirmDialog>
  <div class="col-10 text-center">

      <p-dataTable [rows]="10"  selectionMode="single" [(selection)]="selectedCategoria" [value]="categorias" [resizableColumns]="true" [paginator]="true" emptyMessage="Nenhum registro encontrado." tableStyleClass="table user-list table-hover">
                            
          <p-column  header="Nome" field="nome" [sortable]="true"  ></p-column>
          

    </p-dataTable>  

  </div>
</div>
<div class="row justify-content-center  mt-3">
  <div class="col-9 offset-1">
    <div class="float-right">
      <button pButton (click)="voltarTelaPrincipal()" type="button" label="VOLTAR" class="ui-button-secondary" style="width:120px;"></button>
      <button pButton  [disabled]="!usuarioFuncao || !usuarioAutorizado " (click)="excluir()" type="button" label="EXCLUIR" class="ui-button-danger" style="width:120px;"></button>
      <button pButton (click)="editar()" type="button" label="EDITAR" style="width:120px;"></button>
    </div>
  </div>
</div>