<div class="p-3 mb-2 bg-secondary text-white">{{titulo}}</div>

<p-growl [(value)]="msgs"></p-growl>
<p-confirmDialog></p-confirmDialog>
<div class="row justify-content-center align-items-center mt-4">
  <div class="col-sm-10">
    <span class="ui-float-label">
      <input type="text" [(ngModel)]="categoria.nome" name="nome" pInputText maxlength="64"/>
      <label for="float-input text-center">Digite aqui o nome da nova categoria</label>
    </span>
  </div>
  <div class="col-sm-10 pt-2">
      <div class="float-right">
        <button pButton (click)="voltarTelaPrincipal()" type="button" label="VOLTAR" class="ui-button-secondary" ></button>
        <button pButton (click)="salvar()" type="button" label="SALVAR" ></button>
      </div>
    </div>
</div>