<div class="p-3 mb-2 bg-secondary text-white">LISTA DE USUÁRIOS</div>


<div class="row justify-content-center align-items-center mt-4">
  <p-growl [(value)]="msgs"></p-growl>
  <div class="col-10 text-center">
    <p-table [columns]="cols" [value]="usuarios" [resizableColumns]="true" [paginator]="true" [rows]="10" selectionMode="single"
      [(selection)]="selectedUsuario" dataKey="cpfOuCnpj">
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns" pResizableColumn [pSortableColumn]="col.field">
            {{col.header}}
            <p-sortIcon [field]="col.field"></p-sortIcon>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr  [pSelectableRow]="rowData">
          <td *ngFor="let col of columns" class="ui-resizable-column">
            {{rowData[col.field]}}
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
<div class="row justify-content-center  mt-3">
  <div class="col-1">
    <button pButton (click)="novo()" type="button" label="NOVO" style="width:120px;"></button>
  </div>
  <div class="col-9">
    <div class="float-right">
      <button pButton (click)="voltarTelaPrincipal()" type="button" label="VOLTAR" class="ui-button-secondary" style="width:120px;"></button>
      <button pButton (click)="excluir()" type="button" label="EXCLUIR" class="ui-button-danger" style="width:120px;"></button>
      <button pButton (click)="editar()" type="button" label="EDITAR" style="width:120px;"></button>
    </div>
  </div>
</div>